body{
    background-color: #504a6a55;
    transition: 0.5s;
    height: 100vh;
}
.changeTheme{
    margin: 100px auto 0;
    width: 80px;
    height: 40px;
    display: block;
    background-color: #eae8e8;
    border-radius: 20px;
    position: relative;
    transition: 0.5s;
}
.changeTheme::before{
    position: absolute;
    left: 5px ;
    top:5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    content: '';
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0 5px 10px #b5b4b5;
}
.changeTheme input{
    display: none;
}
.list{
    padding: 0;
    margin: 30px auto;
    list-style: none;
    text-align: left;
    width: 400px;
    display: block;
}
.list li{
    padding: 20px;
    color: #444;
    background-color: #dddd;
    margin-bottom: 1px;
    font-family: sans-serif;
}

.changeTheme:has(input:checked) {
    background-color: rgb(16, 41, 26);
}

.changeTheme:has(input:checked)::before {
    left:calc(90% - 29px) ; 
}
body:has(input[name="changeTheme"]:checked){
    background-image: linear-gradient(to top, #1a1f41,#2e2532);
}
body:has(input[name="changeTheme"]:checked) .list li{
    color: #eee;
    background-color: #34304655;
}